@import "../../css/colors.css";
@import "../../css/units.css";
.modal-content {
    width: 360px;
}
.min-input, .max-input {
    margin-bottom: 1.5rem;
    width: 100%;
    border: 1px solid 15% transparent version of black;
    border-radius: 5px;
    padding: 0 1rem;
    height: 3rem;
    color: hsla(225, 15%, 40%, 0.75);
    font-size: .875rem;
}
.submit-login-button {
    background: #FF8C1A;
}
.btn-submit {
    background: hsla(30, 100%, 55%, 1);
    height: 2rem;
    alignment: center;
    cursor: pointer;
    border-radius: calc(0.5rem / 2);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 9.75rem;
    user-select: none;
}

.logo {
    text-align: center;
    line-height: 66px;
}

.logo-img {
    width: 198px;
    height: 29px;
}

.content > input {
    border-radius: 8px;
}

.forget-link {
    font-size: 14px;
    font-weight: 400;
    color: #1890FF;
}

.captcha-link {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
}

.login-button {
    width: 332px;
    height: 40px;
    background: #DEEDFC;
    border-radius: 20px;
    color: #000000;
    border-color: transparent transparent transparent;
    transition: none;
}

.login-button:hover {
    background: linear-gradient(180deg, #69B8FB 0%, #3679E6 100%);
    color: #FFFFFF;
}

.input-item {
    padding: 3px 0;
}

.input-item input {
    border-radius: 8px;
}

:global(.ant-input-password-large) {
    border-radius: 8px;
}

:global(.ant-input-affix-wrapper-lg) {
    border-radius: 8px;
}

.extra-line {
    display: flex;
    justify-content: space-between;
}

.captcha-btn {
    border-radius: 8px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.65);
    font-size: 13px;
    border: 1px solid #D9D9D9;
    transition: none;
}

.captcha-btn:hover {
    background: linear-gradient(180deg, #69B8FB 0%, #3679E6 100%);
    color: #FFFFFF;
    border: 1px solid transparent;
}